/*---------------------------------------- Tantek Celik's Whitepsace Reset
 Author : Tantek Celik, Shane Riley Version : (CC) 2010 Some Rights Reserved - http: //creativecommons.org/licenses/by/2.0
Description: Resets default styling of common browsers to a common base */


ul, ol {
    list-style-type: none;
}


h1, h2, h3, h4, h5, h6, pre, code {
    font-size: 1em;
}

ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, body, html, p, blockquote, fieldset, input, dl, dt, dd, figure, figcaption {
    margin: 0;
    padding: 0;
}

a img, :link img, :visited img, fieldset {
    border: none;
}

address {
    font-style: normal;
}

header, section, article, nav, footer, hgroup, details, summary, figure, main {
    display: block;
}

mark {
    color: inherit;
    background: transparent;
}

abbr {
    border: none;
}

summary::-webkit-details-marker {
    display: none;
}

* {
    box-sizing: border-box;
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
}


/*--------------------------*/


/*End of CSS Reset!*/


/*--------------------------*/

  body {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    max-width: 1900px;
    margin: 0 auto;
    font-size: 16px;
}


/*------------HEADER-------------*/

  header {
    border-top: 10px solid #f5f5f5;
    height: 482px;
    z-index: 0;
}

  header #primary_nav ul {
    display: block;
    text-align: center;

}

  #fixed_nav {
    background-color: #fff;
    position:fixed;
    margin:0 auto;
    z-index: 1;
    width:1900px;

}


  #primary_nav ul li {
    color: #44444a;
    padding: 16px 25px 19px 30px;
    display: inline-block;
    font-size: 14px;
    text-transform: uppercase;
}

  #primary_nav ul li :nth-of-type(7n) {
    padding-left: 0;
}

  #primary_nav ul li:hover {
    text-decoration: underline;
    cursor:pointer;
}

  header h1 {
    height: 429px;
    background: url(http://2014.jsconfbr.org/images/front.jpg) 50% 0 no-repeat;
    height: 428px;
    margin: 0 auto;
    padding: 150px 0 62px 0;
}




  figure#JS_brazil image {
    display: block;

}

  span#header_title {
    display: block;
    font-size: 60px;
    color: white;
    padding: 22px 0 30px 0;
}

  header h3 {
    font-size: 27px;
    color: white;
    padding-bottom: 50px;

}

        /*------MAIN-------*/

  main h1 {
    font-size: 36px;
    color: #444444;
}

  .new_section {
    padding: 75px 0 70px 0;
    border-top: 1px solid #efefef;
    box-sizing: border-box;
  }



/*-----Tickets------*/

  #early_bird {
    padding: 47px 0 25px 0;
    display: block;
}

  .button {
    width: 234px;
    height: 44px;
    background-color: #008000;
    color: #fffff7;
    padding: 10px 30px;
    text-decoration: none;
    cursor: auto;
    font-weight: bold;
    box-sizing: border-box;
}

  .button:hover {
    background-color: #205920;
    text-decoration: none;
}


/*-------SPEAKERS-----------*/

  #speakers {
    margin: 0 auto;
    max-width: 1080px;
    text-align: center;
}

  #speakers ul {
    padding: 0;
}

  .speaker-block img {
    width: 280px;
    height: 230px;
    margin: 0;
    display: block;
}

  #speakers li {
    position: relative;
    display: inline-block;
    width: 280px;
    height: 380px;
    margin-right: 5px;
    vertical-align: top;
    border: 2px solid #f5f5f5;
    background: #fff;
    text-align: center;
}

  .hover-block {
    position: absolute;
    opacity: 0;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 10px;
    background: rgba(0, 0, 0, .9);
    transition: all 0.5s;
}

  .speaker:hover .hover-block {
    opacity: 1;
    transition: opacity .5s;
}

  .speaker-block, .hover-block {
    height: 380px;
}

  .speaker-block h2, .hover-block h2 {
    font-size: 26px;
    font-weight: 900;
    color: #377d22;
}

  #speakers .speaker-block h2 {
    margin: 30px auto 10px auto;
}

  .hover-block h2 {
    margin: 0;
    padding: 0;
}

  .speaker-block h3, .hover-block p {
    text-align: center;
    font-weight: 300;
}

  .speaker-block h3 {
    font: 300 15px/150% "Open Sans Light", sans-serif;

}

  .speaker-block {
    color:black;
}

  .hover-block p {
    font: 13px "Open Sans Light", sans-serif;
    padding: 10px 20px;
    color: #fff;
}

  .hover-block a {
    color: #377d22;
    font-weight: 900;
}


/*------SCHEDULE-----*/

  table {
    max-width: 1000px;
    font-size: 24px;
    font-weight: 900;
    text-align: left;
    margin: 0 auto;
    border-collapse: collapse;
    border-top: 2px solid #f5f5f5;
    color: #444444;
}

  td {
    padding: 15px;
}

  tr.row {
    border-bottom: 2px solid #f5f5f5;
}

  table a {
    font-size: 18px;
    font-weight: 900;
    color: #377d22;
    text-decoration: none;
}

  table a:hover {
    text-decoration: underline;
}

  img.schedule-image {
    width: auto;
    height: 105px;
}

  h6:first-of-type {
    margin-left: 8px;
}

  h6 {
    display: inline;
    font-size: 8px;
  }

  .small-square {
    text-align: center;
    padding: 1px 4px 0 4px;
    height: 15px;
    width: auto;
    background: #eeeeee;
    border: 1px solid #aaaaaa;
    color: #717171;
}

  /*-----CALL FOR PAPERS----*/

  section#call_for_papers {
    max-width:960px;
    margin:0 auto;
    margin-bottom: 20px;

}
  section#call_for_papers p  {

    color:#444444;
    padding: 0 25px 20px 25px;
    line-height:150%;
    text-align:left;
    max-width:960px;
    margin:0 auto;
    font: 300 16px/1.5 "Open Sans Light", sans-serif;

}

  section#call_for_papers a.code {
    color: #377d22;
    font-weight:bold;
}

  /*------------Sponsors--------------*/

  section#sponsors {
     max-width:960px;
     margin:0 auto;
}


  section#sponsors h3{
    font: 500 20px "Open Sans Light", sans-serif;
    text-align: left;
    margin: 20px 0 10px 0;
    padding: 0 25px;
}

  ul.level_platinum li,
  ul.level_gold li,
  ul.level_silver li,
  ul.level_support li {
      display: inline-block;
  /*margin: 0 30px 50px 0;*/
      padding: 0 30px 50px 0;
      list-style-type: none;
}

  img.platinum,
  img.gold,
  img.silver,
  img.support {
    height: auto;
    vertical-align: middle;
}


  img.platinum {
    width: 250px;
}

  img.gold {
    width: 275px;
}

  img.silver,
  img.support {
    width: 200px;
      }


  /*-------FOOTER-----------*/
        /*-----------------*/
  footer {
    background: url(http://2014.jsconfbr.org/images/people.jpg) 0 0 no-repeat;
    background-size:cover;
    max-width:1900px;
    height:337px;
    padding:43px 0 43px 0;
    box-sizing: border-box;
    margin:0 auto;
}

  footer #presented_by {
    color:#fff;
    font-size:27px;


}

  footer #js_teamtext {
    font-size: 28px;
    font-weight: bold;
}

  h1#dark_strip #dark_h1 {
    background-color: rgba(0, 0, 0, 0.7);
    height:188px;
    color:#fff;
    text-align:left;
    padding: 17px 0 17px 47px;
    margin-top: 40px;
    box-sizing: border-box;


}

  h1#dark_strip #dark_h1 {
    max-width:1900px;
    padding-left:25%;
}

  footer a {
    color:#008000;
    font-size: 17px;
}


/*-----------MEDIA QUERIES------*/

  @media (max-width: 654px) {

  #fixed_nav {
    display: none;
  }

  header   {
    height:300px;
    margin-bottom:0;
}

  header h1 {
    height:320px;

    }

  span#header_title {
    font-size:40px;
}

  header h3  {
    font-size: 20px;
    padding-bottom:0;
    margin-bottom:10px;

}

  span#header_title {
    padding:0;
    margin:0;
}

  .speaker_block, .hover_block {
    display:block;
    width: 280px;
    height:380px;
    text-align: left;
}


  tr {
    display: block;
    position: relative;
  }
  td {
    display: block;
  }
   td.time {
    padding-right: 20px;
    text-align: right;
  }

  img.schedule-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    height: auto;
  }

    h1#dark_strip #dark_h1{

    font-size:15px;
    padding-left: 10px;

}

  h1#dark_strip #dark_h1 p {
    margin:0;
    padding:0;
}

  .new_section:first-of-type {
    border-top: transparent;
}
